<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="renderer" content="webkit" />
<link rel="canonical" href=""/>
<meta name="robots" content="all">
<meta name="referrer" content="always"/>
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">

<meta name="format-detection" content="telephone=yes" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">
<link rel="stylesheet" href="{CSS_PATH}web/css/font.css" />
<link rel="stylesheet" href="{CSS_PATH}web/css/reset.css" />
<link rel="stylesheet" href="{CSS_PATH}web/css/swiper.min.css" />
<link rel="stylesheet" href="{CSS_PATH}web/css/ascx.css" />
<link rel="stylesheet" href="{CSS_PATH}web/css/style.css" />
<link rel="stylesheet" href="{CSS_PATH}web/css/page.css" />

<link rel="stylesheet" href="{CSS_PATH}web/css/rd.css" />

<script type="text/javascript" src="{CSS_PATH}web/js/jquery-1.9.1.min.js" ></script>
<script type="text/javascript" src="{CSS_PATH}web/js/rem.js" ></script>
<script src="{CSS_PATH}web/js/include.js"></script>
<body>
{template "content","header"}

{pc:content action="category" catid="$CAT[catid]"  order="listorder ASC"  return="datas"}
{loop $datas $s}
{if $s[listorder]==1}
{pc:content action="lists" catid="$s[catid]" num="1" order="listorder ASC" moreinfo="1"  return="event6"}
{loop $event6 $li}
<div class="bannerTypeTwo">
    <img src="{$li[thumb]}" alt="{$li[title]}">

    <div class="cons animationDH animateRt current">
        <div class="banenrTit autowidth ">
            <div class="font42 font700 mb3 mt9 colorfff centers">{$li[title]}</div>
            <div class="font18 colorfff height10 centers">{$li[description]}</div>
            <div class="publicBtn centers">
                <a class="btn mr1" href="">了解更多 <i class="iconfont"></i></a>
            </div>
        </div>
    </div>
</div>

{/loop}
{/pc}
{/if}
{/loop}
{/pc}

<!--面包屑-->
<div class="autowidth pb6">
    {template "content","nav_link_scene"}
</div>
<!--主体内容-->
<div class="solution competencymodule">

    {pc:content action="category" catid="$CAT[catid]"  order="listorder ASC"  return="datas"}
    {loop $datas $s}
    {if $s[listorder]==2}
    {pc:content action="lists" catid="$s[catid]" num="1" order="listorder ASC" moreinfo="1"  return="list"}
    <div class="section_d">
        {loop $list $li}
        <div class="autowidth flex animationDH animateBt current">
            <div class="w50 imglistanimate">
                <div class="imgbox">
                    <img src="{$li[thumb]}" alt="{$li[title]}">
                </div>
            </div>
            <div class="w50 pl6">
                <div class="font24 font400 mb3 color3F4552">{$li[title]}</div>
                <div class="font14 font400 mb3 color3F4552 opacity6">
                    {$li[content]}</div>
                <div class="publicBtn">
                    <a class="btn mr1" href="../index/register.html">免费试用 <i class="iconfont"></i></a>
                    <a class="btn btn2" href="javascript:;" onclick="shiyong()">申请演示 <i class="iconfont"></i></a>
                </div>
            </div>
        </div>
        {/loop}
    </div>
    {/pc}
    {/if}
    {if $s[listorder]==3}
    <div class="section_d   bgc">
        <div class="autowidth animationDH animateBt current">

            <div class="font32 font700 mb6 centers ">{$s[catname]}</div>
            {pc:content action="lists" catid="$s[catid]" num="10" order="listorder ASC" moreinfo="1"  return="list"}
            <ul class="flex flexbt imgrotatetp1">
                {loop $list $li}
                <li class="centers lib1p2 w24 bgfff">

                    <img src="{$li[thumb]}" alt="{$li[title]}">

                    <div class="font24 font400 color01AF8A">{$li[title]}</div>
                    <div class="font18 font400 color3F4552 opacity6">
                        {$li[description]}
                    </div>
                </li>
                {/loop}
            </ul>
            {/pc}
            <div class="publicBtn centers pt8">
                <a class="btn mr1" href="../index/register.html">免费试用 <i class="iconfont"></i></a>
                <a class="btn btn2" href="javascript:;" onclick="shiyong()">申请演示 <i class="iconfont"></i></a>
            </div>

        </div>
    </div>

    {/if}
    {if $s[listorder]==4}
    {pc:content action="lists" catid="$s[catid]" num="10" order="listorder ASC" moreinfo="1"  return="list"}
    <div class="section_d  ">
        {loop $list $li}
        <div class="autowidth animationDH animateBt current">

            <div class="font32 font700 mb6 centers ">{$li[title]}</div>

            <img class="mb3" src="{$li[thumb]}" alt="{$li[title]}">

            <p class="font14 font400 color666 ">
                {$li[content]}
            </p>

            <div class="publicBtn centers mt6">
                <a class="btn mr1" href="../index/register.html">免费试用 <i class="iconfont"></i></a>
                <a class="btn btn2" href="javascript:;" onclick="shiyong()">申请演示 <i class="iconfont"></i></a>
            </div>

        </div>
        {/loop}
    </div>
    {/pc}

    {/if}
    {if $s[listorder]==5}
    {pc:content action="lists" catid="$s[catid]" num="10" order="listorder ASC" moreinfo="1"  return="list"}
    <div class="section_d   bgc">
        <div class="autowidth animationDH animateBt current">

            <div class="font32 font700 mb6 centers ">{$s[catname]}</div>

            <ul class="ulListTypeTwo">
                {loop $list $li}
                <li>
                    <span>0{$li[listorder]}</span>
                    <p>{$li[title]}</p>
                </li>
                {/loop}

            </ul>

            <div class="publicBtn centers mt6">
                <a class="btn mr1" href="../index/register.html">免费试用 <i class="iconfont"></i></a>
                <a class="btn btn2" href="javascript:;" onclick="shiyong()">申请演示 <i class="iconfont"></i></a>
            </div>

        </div>
    </div>
    {/pc}
    {/if}
    {if $s[listorder]==6}
    {pc:content action="lists" catid="$s[catid]" num="10" order="listorder ASC" moreinfo="1"  return="list"}
    <div class="section_d">
        <div class="autowidth animationDH animateBt current">

            <div class="font32 font700 mb6 centers">{$s[catname]}</div>

            <ul class="flex flexbt imglistanimate">
                {loop $list $li}
                <li class="centers lib1p2 w31">
                    <a class="color3F4552  " href="">
                        <div class="imgbox">
                            <img src="{$li[thumb]}" alt="{$li[title]}">
                        </div>
                        <div class="font24 font400  mt3">{$li[title]}</div>
                        <div class="font14 font400 color3F4552 opacity6 max2">
                            {$li[content]}
                        </div>
                    </a>
                </li>
                {/loop}
            </ul>

            <div class="publicBtn centers mt6">
                <a class="btn mr1" href="../index/register.html">免费试用 <i class="iconfont"></i></a>
                <a class="btn btn2" href="javascript:;" onclick="shiyong()">申请演示 <i class="iconfont"></i></a>
            </div>

        </div>
    </div>
    {/pc}

    {/if}
    {if $s[listorder]==7}
    {pc:content action="lists" catid="$s[catid]" num="10" order="listorder ASC" moreinfo="1"  return="list"}
    <div class="section_d  bgc">
        <div class="autowidth animationDH animateBt">

            <div class="font32 font700 mb6 centers">{$s[catname]}</div>

            <ul class="flex flexbt imgListTypeOne">
                {loop $list $li}
                <li class="centers w31">
                    <a class="colorfff scaleImg" href="">
                        <img src="{$li[thumb]}" alt="{$li[title]}">
                        <div class="font18 ">{$li[title]}</div>
                    </a>
                </li>
                {/loop}
            </ul>


        </div>
    </div>
    {/pc}
    {/if}
    {/loop}
    {/pc}
    {template "content","pro_nav"}
</div>
{template "content","footer"}
<script type="text/javascript" src="{CSS_PATH}web/js/swiper.min.js" ></script>
<script type="text/javascript" src="{CSS_PATH}web/js/public.js" ></script>
<script type="text/javascript" src="{CSS_PATH}web/js/rd.js" ></script>
</body>
</html>