<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="renderer" content="webkit" />
<link rel="canonical" href=""/>
<meta name="robots" content="all">
<meta name="referrer" content="always"/>
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">

<meta name="format-detection" content="telephone=yes" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">
<link rel="stylesheet" href="{CSS_PATH}web/css/font.css" />
<link rel="stylesheet" href="{CSS_PATH}web/css/reset.css" />
<link rel="stylesheet" href="{CSS_PATH}web/css/swiper.min.css" />
<link rel="stylesheet" href="{CSS_PATH}web/css/ascx.css" />
<link rel="stylesheet" href="{CSS_PATH}web/css/style.css" />
<link rel="stylesheet" href="{CSS_PATH}web/css/page.css" />

<link rel="stylesheet" href="{CSS_PATH}web/css/rd.css" />

<script type="text/javascript" src="{CSS_PATH}web/js/jquery-1.9.1.min.js" ></script>
<script type="text/javascript" src="{CSS_PATH}web/js/rem.js" ></script>
<script src="{CSS_PATH}web/js/include.js"></script>
<body>
{template "content","header"}

{pc:content action="category" catid="$CAT[catid]"  order="listorder ASC"  return="datas"}
{loop $datas $s}
{if $s[listorder]==1}
{pc:content action="lists" catid="$s[catid]" num="1" order="listorder ASC" moreinfo="1"  return="event6"}
{loop $event6 $li}
<div class="bannerTypeTwo">
    <img src="{$li[thumb]}" alt="{$li[title]}">

    <div class="cons animationDH animateRt current">
        <div class="banenrTit autowidth ">
            <div class="font34 font700 mb3 mt9 colorfff centers">{$li[title]}</div>
            <div class="font18 colorfff height10 centers">{$li[description]}</div>
        </div>
    </div>
</div>

{/loop}
{/pc}
{/if}
{/loop}
{/pc}

<!--面包屑-->
<div class="autowidth pb6">
{template "content","nav_link_scene"}
</div>
<!--主体内容-->
<div class="solution ">

    {pc:content action="category" catid="$CAT[catid]"  order="listorder ASC"  return="datas"}
    {loop $datas $s}
    {if $s[listorder]==2}
    <!-- 企业客户服务升级需求  -->
    <div class="section_d ">
        <div class="autowidth animationDH animateBt current">

            <div class="font30 font700 mb6 centers">{$s[catname]}</div>

            <ul class="flex flexbt centers imglistanimate">
                {pc:content action="lists" catid="$s[catid]" num="3" order="listorder ASC" moreinfo="1"  return="list"}
                {loop $list $li}
                <li class="w31 lib1p2">
                    <div class="imgbox">
                        <img class="w6rem" src="{$li[thumb]}" alt="{$li[title]}">
                    </div>
                   {$li[content]}
                </li>
                {/loop}
                {/pc}
            </ul>

            <div class="publicBtn centers mt6">
                <a class="btn mr1" href="/register/">了解详情 <i class="iconfont"></i></a>
            </div>

        </div>
    </div>
    {/if}

    {if $s[listorder]==3}
    <!-- 覆盖多种业务场景  -->
    {pc:content action="lists" catid="$s[catid]" num="1" order="listorder ASC" moreinfo="1"  return="list"}
    {loop $list $li}
    <div class="section_d bgc">
        <div class="autowidth animationDH animateBt current">

            <div class="font30 font700 mb6 centers">{$li[title]}</div>

            <div>
               {$li[content]}
            </div>

            <div class="publicBtn centers mt6">
                <a class="btn mr1" href="/register/">获取方案 <i class="iconfont"></i></a>
            </div>
        </div>
    </div>
    {/loop}
    {/pc}
    {/if}

    {if $s[listorder]==4}
    <!-- 多渠道客户统一接入与管理 -->
    {pc:content action="lists" catid="$s[catid]" num="3" order="listorder ASC" moreinfo="1"  return="list"}

    <div class="section_d">
        <div class="autowidth animationDH animateBt current">
            <div class="font30 font700 mb6 centers">{$s[catname]}</div>

            <div class="imgTexIcons">
                <ol>
                    {loop $list $li}
                    {if $li[listorder]==1}
                    <li class="on">
                        {else}
                        <li>
                        {/if}
                        {$li[title]}</li>
                    {/loop}
                </ol>
            </div>

            <ul class="imgTextMod imgTextToggle">
                {loop $list $li}
                {if $li[listorder]==1}
                <li class="on">
                    {else}
                <li>
                    {/if}
                    <dl>
                        <dt class="dtImg">
                            <img src="{$li[thumb]}" alt="{$li[title]}">
                        </dt>
                        <dd class="ddText">
                            {$li[content]}
                        </dd>
                    </dl>
                </li>
                {/loop}
            </ul>


            <div class="publicBtn centers mt6">
                <a class="btn mr1" href="/register/">了解详情 <i class="iconfont"></i></a>
            </div>

        </div>
    </div>

    {/pc}
    {/if}

    {if $s[listorder]==5}
    <!-- 智能机器人辅助，全面提升服务效率 -->
    {pc:content action="lists" catid="$s[catid]" num="3" order="listorder ASC" moreinfo="1"  return="list"}
    <div class="section_d bgc">
        <div class="autowidth animationDH animateBt current">
            <div class="font30 font700 mb6 centers">{$s[catname]}</div>

            <div class="imgTexIcons">
                <ol>
                    {loop $list $li}
                    {if $li[listorder]==1}
                    <li class="on">
                        {else}
                    <li>
                        {/if}
                        {$li[title]}</li>
                    {/loop}
                </ol>
            </div>

            <ul class="imgTextMod imgTextToggle modStateTwo">

                {loop $list $li}
                {if $li[listorder]==1}
                <li class="on">
                    {else}
                <li>
                    {/if}
                    <dl>
                        <dt class="dtImg">
                            <img src="{$li[thumb]}" alt="{$li[title]}">
                        </dt>
                        <dd class="ddText">
                                {$li[content]}
                        </dd>
                    </dl>
                </li>
                {/loop}

            </ul>



            <div class="publicBtn centers mt6">
                <a class="btn mr1" href="/register/">了解详情 <i class="iconfont"></i></a>
            </div>

        </div>
    </div>
    {/pc}
    {/if}

    {if $s[listorder]==6}
    <!-- 自定义数据指标，服务过程全局掌控 -->
    {pc:content action="lists" catid="$s[catid]" num="2" order="listorder ASC" moreinfo="1"  return="list"}
    <div class="section_d">
        <div class="autowidth animationDH animateBt current">
            <div class="font30 font700 mb6 centers">{$s[catname]}</div>

            <div class="imgTexIcons">
                <ol>
                    {loop $list $li}
                    {if $li[listorder]==1}
                    <li class="on">
                        {else}
                    <li>
                        {/if}
                        {$li[title]}</li>
                    {/loop}
                </ol>
            </div>

            <ul class="imgTextMod imgTextToggle">
                {loop $list $li}
                {if $li[listorder]==1}
                <li class="on">
                    {else}
                <li>
                    {/if}
                    <dl>
                        <dt class="dtImg">
                            <img src="{$li[thumb]}" alt="{$li[title]}">
                        </dt>
                        <dd class="ddText">
                                {$li[content]}
                        </dd>
                    </dl>
                </li>
                {/loop}

            </ul>


            <div class="publicBtn centers mt6">
                <a class="btn mr1" href="/register/">获取方案 <i class="iconfont"></i></a>
            </div>

        </div>
    </div>
    {/if}

    {if $s[listorder]==7}
    {pc:content action="lists" catid="$s[catid]" num="1" order="listorder ASC" moreinfo="1"  return="list"}
    <!-- 预留模块 -->
    {loop $list $li}
    <div class="section_d bgc">
        <div class="autowidth animationDH animateBt current">
            <div class="font30 font700 mb6 centers">{$s[catname]}</div>

            <ul class="imgTextMod imgTextList modStateTwo">
                <li>
                    <dl>
                        <dt class="dtImg">
                            <img src="{$li[thumb]}" alt="{$li[title]}">
                        </dt>
                        <dd class="ddText">
                                {$li[content]}
                            <div class="publicBtn centers mt6">
                                <a class="btn mr1" href="/register/">获取方案 <i class="iconfont"></i></a>
                            </div>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    {/loop}
    {/pc}
    {/if}

    {/loop}
    {/pc}
    
     {pc:content action="category" catid="$CAT[catid]"  order="listorder ASC"  return="datas"}
    {loop $datas $s}
    {if $s[listorder]==8}
     {pc:content action="lists" catid="$s[catid]" num="1" order="listorder ASC" moreinfo="1"  return="event6"}
            {loop $event6 $e6}
 		<div class="section_d">
            <div class="autowidth animationDH animateBt">
                <div class="font32 font700 mb6 centers">产品推荐</div>
                <ul class="flex productRecommendIcons">
               {pc:content action="category" catid="76"  order="listorder ASC"  return="items"}
                {loop $items $q}
                    {if $q[listorder]==$e6[pro_tj]} 
                        {pc:content action="lists" catid="$q[catid]" num="5" order="listorder ASC" moreinfo="1"  return="event8"}
                          {loop $event8 $e8}
                        <li>
                             <a href="{$e8[url]}"><img class="wt50" src="{$e8[thumb]}" alt="{$e8[title]}"></a>
                             <div class="font20 font400 mt2"> <a href="{$e8[url]}">{$e8[title]} </a></div>
                        </li>
                          {/loop}
                       {/pc}
                  {/if}
                {/loop}
                {/pc}
                </ul>
            </div>
        </div>
 </div>
  {/loop}
         {/pc}
     {/if}
    {/loop}
  {/pc}
  
</div>
{template "content","footer"}
<script type="text/javascript" src="{CSS_PATH}web/js/swiper.min.js" ></script>
<script type="text/javascript" src="{CSS_PATH}web/js/public.js" ></script>
<script type="text/javascript" src="{CSS_PATH}web/js/rd.js" ></script>
</body>
</html>