<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="renderer" content="webkit" />
<link rel="canonical" href=""/>
<meta name="robots" content="all">
<meta name="referrer" content="always"/>
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">

<meta name="format-detection" content="telephone=yes" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">
<link rel="stylesheet" href="{CSS_PATH}web/css/font.css" />
<link rel="stylesheet" href="{CSS_PATH}web/css/reset.css" />
<link rel="stylesheet" href="{CSS_PATH}web/css/swiper.min.css" />
<link rel="stylesheet" href="{CSS_PATH}web/css/ascx.css" />
<link rel="stylesheet" href="{CSS_PATH}web/css/style.css" />
<link rel="stylesheet" href="{CSS_PATH}web/css/page.css" />

<link rel="stylesheet" href="{CSS_PATH}web/css/rd.css" />

<script type="text/javascript" src="{CSS_PATH}web/js/jquery-1.9.1.min.js" ></script>
<script type="text/javascript" src="{CSS_PATH}web/js/rem.js" ></script>
<script src="{CSS_PATH}web/js/include.js"></script>
<body>
{template "content","header"}

{pc:content action="category" catid="$CAT[catid]"  order="listorder ASC"  return="datas"}
{loop $datas $s}
{if $s[listorder]==1}
{pc:content action="lists" catid="$s[catid]" num="1" order="listorder ASC" moreinfo="1"  return="event6"}
{loop $event6 $li}
<div class="bannerTypeOne">
    <img src="{$li[thumb]}" alt="{$li[title]}">

    <div class="cons animationDH animateRt">
        <div class="banenrTit autowidth ">
            <div class="font42 font700 mb3 mt9 colorfff">{$li[title]}</div>
            <div class="font18 colorfff height10">{$li[description]}</div>
            <div class="publicBtn">
                <a class="btn mr1" href="../index/register.html">申请注册 <i class="iconfont"></i></a>
                <a class="btn btn2" href="javascript:;" onClick="shiyong()">免费试用 <i class="iconfont"></i></a>
            </div>
        </div>
    </div>
</div>
{/loop}
{/pc}
{/if}
{/loop}
{/pc}

<!--面包屑-->
<div class="autowidth pb6">
{template "content","nav_link"}
</div>
<!--主体内容-->
<div class="product">
    {pc:content action="category" catid="$CAT[catid]"  order="listorder ASC"  return="datas"}
    {loop $datas $s}


    {if $s[listorder]==2}
    <div class="section_d">
        <div class="autowidth animationDH animateBt current">
            {pc:content action="category" catid="$s[catid]" num="1" order="listorder ASC" moreinfo="1"  return="subdatas"}
            {loop $subdatas $subs}
            <div class="font32 font700 mb6 centers">{$s[catname]}</div>

            <ul class="flex flexwp flexbt  centers font18  imglistanimate">
                {pc:content action="lists" catid="$subs[catid]" num="50" order="listorder ASC" moreinfo="1"  return="list"}
                {loop $list $li}
                <li class=" w24 lib1p2 mb3 ">
                    <div class="imgbox">
                        <img src="{$li[thumb]}" alt="{$li[title]}">
                    </div>
                    <div class="font700">{$li[title]}</div>
                    <div class="mt1 opacity6">{$li[description]}</div>
                    <div class="mt1 opacity6">{$li[content]}</div>
                </li>
                {/loop}
                {/pc}

            </ul>
            <div class="publicBtn centers  mt3">
                <a class="btn mr1" href="../index/register.html">免费试用 <i class="iconfont"></i></a>
                <a class="btn btn2" href="javascript:;" onClick="shiyong()">申请演示 <i class="iconfont"></i></a>
            </div>
            {/loop}
            {/pc}
        </div>
    </div>

    {/if}
    {if $s[listorder]==3}

    <div class="section_d bgc">
        <div class="autowidth animationDH animateBt current">

            <div class="font32 font700 mb6 centers">{$s[catname]} </div>
            {pc:content action="lists" catid="$s[catid]"  num="1" order="listorder ASC" moreinfo="1"  return="list"}
            {loop $list $li}
            <div class="imgcenter mb6">
                <img src="{$li[thumb]}" alt="{$li[title]}">
            </div>
            {/loop}
            {/pc}

            <ul class="flex flexwp flexbt  font18 ">
                {pc:content action="lists" catid="$s[catid]" where="listorder>1" num="50" order="listorder ASC" moreinfo="1"  return="list"}
                {loop $list $li}
                <li class="w49 lib1p2 bgF6F7F8 mb3">
                    <div class="font700 mb2">{$li[title]}</div>
                    <div class="opacity6">{$li[description]}</div>
                </li>
                {/loop}
                {/pc}
            </ul>

        </div>
    </div>
    {/if}
    {if $s[listorder]==4}
    <div class="section_d">
        {pc:content action="lists" catid="$s[catid]"  num="1" order="listorder ASC" moreinfo="1"  return="list"}
        {loop $list $li}
        <div class="autowidth animationDH animateBt current">
            <div class="font32 font700 mb6 centers">{$li[title]} </div>
            <div class="imgTextMod">
                <dl>
                    <dt class="dtImg">
                        <img src="{$li[thumb]}" alt="{$li[title]}">
                    </dt>
                    <dd class="ddText">
                        <div>
                            {$li[content]}
                        </div>

                        <div class="publicBtn centers mt6">
                            <a class="btn mr1" href="../index/register.html">免费试用 <i class="iconfont"></i></a>
                            <a class="btn btn2" href="javascript:;" onClick="shiyong()">申请演示 <i class="iconfont"></i></a>
                        </div>

                    </dd>
                </dl>
            </div>

        </div>
        {/loop}
        {/pc}
    </div>
    {/if}
    {if $s[listorder]==5}

    <div class="section_d bgc">
        <div class="autowidth animationDH animateBt current">
            {pc:content action="lists" catid="$s[catid]" num="1" order="listorder ASC" moreinfo="1"  return="list"}
            {loop $list $li}
            <div class="font32 font700 mb6 centers">{$li[title]}</div>

            <div class="mb6">
               {$li[content]}
            </div>

            {/loop}
            {/pc}

            <div class="publicBtn centers mt6">
                <a class="btn mr1" href="../index/register.html">免费试用 <i class="iconfont"></i></a>
                <a class="btn btn2" href="javascript:;" onClick="shiyong()">申请演示 <i class="iconfont"></i></a>
            </div>
        </div>
    </div>
    {/if}
    {if $s[listorder]==6}

    <div class="section_d">
        <div class="autowidth animationDH animateBt current">

            <div class="font32 font700 mb6 centers">{$s[catname]}</div>
            {pc:content action="category" catid="$s[catid]" num="1" order="listorder ASC" moreinfo="1"  return="subdatas"}
            {loop $subdatas $subs}
            <ul class="flex flexwp flexbt font18">
                {pc:content action="lists" catid="$subs[catid]" num="50" order="listorder ASC" moreinfo="1"  return="list"}
                {loop $list $li}
                <li class="w18 flex flexjt flexat height64 bgF6F7F8 mb3">{$li[title]}</li>
                {/loop}
                {/pc}
            </ul>
            {/loop}
            {/pc}

        </div>
    </div>
    {/if}
    {if $s[listorder]==7}
    <div class="section_d bgc">
        <div class="autowidth animationDH animateBt current">

            {pc:content action="lists" catid="$s[catid]" num="1" order="listorder ASC" moreinfo="1"  return="list"}
            {loop $list $li}
            <div class="imgTextMod modStateTwo">
                <dl>
                    <dt class="dtImg">
                        <img src="{$li[thumb]}" alt="{$li[title]}">
                    </dt>
                    <dd class="ddText">
                        <div >
                            {$li[content]}
                        </div>

                        <div class="publicBtn centers mt6">
                            <a class="btn mr1" href="../index/register.html">免费试用 <i class="iconfont"></i></a>
                            <a class="btn btn2" href="javascript:;" onClick="shiyong()">申请演示 <i class="iconfont"></i></a>
                        </div>

                    </dd>
                </dl>
            </div>
            {/loop}
            {/pc}
        </div>
    </div>
    {/if}

    {/loop}
    {/pc}
    </div>


{template "content","pro_nav"}
{template "content","footer"}
<script type="text/javascript" src="{CSS_PATH}web/js/swiper.min.js" ></script>
<script type="text/javascript" src="{CSS_PATH}web/js/public.js" ></script>
<script type="text/javascript" src="{CSS_PATH}web/js/rd.js" ></script>
</body>
</html>