<!DOCTYPE html>
<html>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="description" content="{$SEO['description']}">
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="renderer" content="webkit" />
    <link rel="canonical" href=""/>
    <meta name="robots" content="all">
    <meta name="referrer" content="always"/>
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    
	<meta name="format-detection" content="telephone=yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">
	<link rel="stylesheet" href="{CSS_PATH}web/css/font.css" />
	<link rel="stylesheet" href="{CSS_PATH}web/css/reset.css" />
	<link rel="stylesheet" href="{CSS_PATH}web/css/swiper.min.css" />
    <link rel="stylesheet" href="{CSS_PATH}web/css/ascx.css" />
    <link rel="stylesheet" href="{CSS_PATH}web/css/style.css" />
	<link rel="stylesheet" href="{CSS_PATH}web/css/page.css" />
	<script type="text/javascript" src="{CSS_PATH}web/js/jquery-1.9.1.min.js" ></script>
	<script type="text/javascript" src="{CSS_PATH}web/js/rem.js" ></script>
	<script src="{CSS_PATH}web/js/include.js"></script>

	<body>
        {template "content","header"}
        
        <div class="nyBanner flex flexat flexjt" style="background: url({CSS_PATH}web/images/bannerBg.jpg) no-repeat center">
            <div class="bts colorfff centers">
                <div class="font32 animationDH animateRt"><div class="bxt">客户案例 </div></div>
            </div>
        </div>

            <div class="autowidth pb6">
            
            	{template "content","nav_link"}
                    
            <div class="flex flexCase pt4 overHidden">
                <dl class="caseKind font18 animationDH animateLt">
                {pc:content action="category" catid="$CAT[parentid]"  order="listorder ASC"  return="datas"}
			    {loop $datas $s}
                {php $j++} 
                    <dd {if $s[catid]==$catid} class="on"{/if}>
                       <a class="flex flexat" href="{$s[url]}">
                           <span>{$s[catname]}</span>
                       </a>
                    </dd>
                 {/loop}
	 			{/pc} 
                </dl>
                <div class="flex1 animationDH animateRt">
                    <dl class="caseList font14">
                      {pc:content action="lists" catid="$catid" order="listorder desc,inputtime desc,id DESC" num="9"  moreinfo="1" page="$page"}
					{loop $data $r}
                        <dd>
                            <div class="flex flexst" >
                                <a class="scaleImg"  href="{$r[url]}" target="_blank"><img src="{if $r[thumb]}{$r[thumb]}{else}{CSS_PATH}web/images/thumb.jpg{/if}" alt="{$r[title]}" title="{$r[title]}"></a>
                                <div class="flex1 cots">
                                    <div class="font24 font700 singleTxt"><a href="{$r[url]}" target="_blank">{$r[title]}</a></div>
                                    <div class="color888 pt1">所属行业：{$CAT[catname]}</div>
                                    <div class="max3 color888 pt1 pb1"></div>
                                    <div class="pt2"><a class="more" href="{$r[url]}" target="_blank">查看详情 <i class="iconfont">&#xe79c;</i></a></div>
                                </div>
                            </div>
                        </dd>
 {/loop}
					{/pc}
                    </dl>
                    <div class="font14 color888 pt2 pages">
                       {$pages} 
                    </div>
                </div>
            </div>
        </div>
        {template "content","footer"}
		<script type="text/javascript" src="{CSS_PATH}web/js/swiper.min.js" ></script>
		<script type="text/javascript" src="{CSS_PATH}web/js/public.js" ></script>
        <script>
          
        </script>
	</body>
</html>
