 <div class="section_d">
            <div class="autowidth animationDH animateBt">

                <div class="font32 font700 mb6 centers">产品推荐</div>

                <ul class="flex productRecommendIcons">
                    <li>
                        <a href="#"><img class="wt50" src="{CSS_PATH}web/images/b1-1.png" alt=""></a>
                        <div class="font20 font400 mt2"><a href="#">智能客服</a></div>
                        
                    </li>
                    <li>
                        <a href="#">
                            <img class="wt50" src="{CSS_PATH}web/images/b1-2.png" alt=""></a>
                            <div class="font20 font400 mt2"> <a href="#">呼叫中心 </a></div>
                       
                    </li>
                    <li>
                        <a href="#">
                            <img class="wt50" src="{CSS_PATH}web/images/b1-3.png" alt=""></a>
                            <div class="font20 font400 mt2"> <a href="#">在线客服系统 </a></div>
                       
                    </li>
                    <li>
                        <a href="">
                            <img class="wt50" src="{CSS_PATH}web/images/b1-4.png" alt="">  </a>
                            <div class="font20 font400 mt2"> <a href="">工单系统</a></div>
                      
                    </li>
                    <li>
                        <a href="">
                            <img class="wt50" src="{CSS_PATH}web/images/b1-5.png" alt=""> </a>
                            <div class="font20 font400 mt2"><a href="">微信客服</a></div>
                       
                    </li>
                </ul>
            </div>
        </div>
 </div>